@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Shrikhand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Jura', sans-serif;
}

:root{
    --bg-color:#14242a;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
    --main2-color:#00ff6e;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

#particles-js{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0.01;
}

section{
    min-height: 80vh;
    padding: 0rem 4% 2rem;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 96%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
} 

.header a{
    font-family: 'Courier New', Courier, monospace;
    transition: .5s ease;
}

.header a:hover{
    transition: .5s ease;
    scale: calc(1.1);
}

.img-logo{
    width: 30px;
    position: relative;
    right: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 2rem var(--main-color);
}

.header .sticky{
    border-bottom: 1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.281);
}

.logo{
    font-size: 3rem;
    color:var(--text-color);
    font-weight: 600;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 1rem;
    margin-left: 4rem;
    transition: .5s;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    z-index: 1;
}

.navbar a:hover{
    transition: 2s;
    border-radius: 3px;
    border: 1px solid var(--main-color);
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    background-color: rgba(0, 0, 0, 0.5); 
}

#menu-icon{
    font-size: 3.6rem;
    color:var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/F22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-img img{
    border: .2px solid var(--main-color);
    box-shadow: 1px 1px 10px var(--main2-color);
    border-radius: 1rem 0 1rem 0;
    transition: 1s ease;
    z-index: 10;
    background:linear-gradient(to bottom, var(--bg-color),black);
    filter: grayscale(20%);
    width: 30vw;
    margin-top: 12rem;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage { 
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content h3{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span{
    color:var(--main-color);
}

.home-content h1{
    margin-left: 3rem;
    font-size: 6rem;
    line-height: 1.3;
    letter-spacing: 8px;
    font-family: 'Shrikhand', cursive;
}

.social-media{
    display: flex;
    margin-top: 5rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color:var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display:inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    border-radius: 4rem;
    font-size: 1.9rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: .1rem;
    transition: .5s ease;
    z-index: 103;
}

.btn:hover{
    scale: calc(1.1);
    box-shadow: 0 0 1rem var(--main-color);
    color:var(--text-color);
    font-weight: 100;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10rem;
    background-image: url(../img/F11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-img img{
    width: 25vw;
    position: relative;
    margin-top: 20rem;
    margin-bottom: 10rem;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
    padding: 1rem;
    font-style: italic;
    text-shadow: 2px 2px 10px var(--main-color);
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
    font-size: 4rem;
    letter-spacing: 8px;
}

.about-content h3{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding: .1rem;
    letter-spacing: 5px;
    font-family: 'Jura', sans-serif;
}

.about-content p{
    font-size: 2rem;
    margin: 2rem 0 3rem;
    text-align: justify;
    transition: .5s ease;
    border-radius: 1rem;
    padding: 2rem;
    background: rgb(20, 36, 42, 0.9);
}
.about-content p:hover{
    scale: calc(1.02);
    box-shadow: 0 0 1rem var(--main-color);
    color:var(--text-color);
    transition: .5s ease;
}

.services h2{
    margin-bottom: 5rem;
    padding-top: 9rem;
}

.services{
    background-image: url(../img/F22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10rem;
}

/* services 1 */

.services-container{
    gap: 4rem;
    display: grid;
    justify-items: center; 
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.services-box:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.services-container .services-box{
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    box-shadow: 1px 1px 10px var(--main-color);
    transition: .5s ease;
    max-width: 400px;
    height: 270px;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box{
    min-width: 400px;
    background: transparent;
    height: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
}

.s4:hover {
    background: rgb(20, 36, 42, 0.9);
    border: .23rem solid var(--bg-color);
    box-shadow: .3px .3px 10px 5px var(--main2-color);
    transform: scale(1.02);
}
/*-----------*/

.service-box-contenedor{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: end;
}

.services-box i{
    font-size: 7rem;
    color: var(--main-color);
    padding: 2rem;
}

.services-box h3{
    font-size: 2.6rem;
    margin-top: 2rem;
}

.btn-services2{
    display:inline-block;
    padding: 1rem 1rem;
    background: transparent;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: .5rem;
    transition: .5s ease;
}
.btn-services2:hover{
    scale: calc(1.02);
    box-shadow: 0 0 1rem var(--main-color);
    color:var(--text-color);
    font-weight: 100;
}

/* services 2 */
/*----technologies----*/
.technologies{
    background-image: url(../img/F11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}

.technologies h2{
    margin-bottom: 9rem;
    padding-top: 10rem;
}

.services-container2{
    font-family: 'Jura', sans-serif;
    margin-bottom: 19rem;
    gap: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 12rem;
}

.services-container2 .services-box2{
    background: transparent;
    padding: 3rem 0;
    border-radius: 2rem;
    text-align: center;
    border: .1rem solid var(--bg-color);
    box-shadow: 1px 1px 10px var(--main2-color);
    transition: .5s ease;
    max-width: 400px;
}

.services-container2 .services-box2:hover {
    border-color: var(--main2-color);
    background: rgb(0, 238, 255, 0.3);
    transform: scale(1.04);
}

.services-box2 i{
    font-size: 9rem;
    color: transparent;
    padding: 2rem;
}

.services-box2 h3{
    color: var(--text-color);
    margin-bottom: 2rem;
}

/*---------slider---------*/
.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
}

.content{
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: azure;
    border-radius: 100px 20px 20px 100px;
    position: absolute;
    pointer-events: none;
    animation: anime 15s linear infinite;
    opacity: 0;
    animation-delay: calc(3s * var(--delay));
}
.slider:hover .content{
    animation-play-state: paused;
}

@keyframes anime{
    0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%, 40%{
        opacity: 1;
        transform: translateY(0%) scale(1);
        pointer-events:auto;
    }
    45%, 60%{
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
}

.image{
    width: 90px;
    height: 90px;
    background-color: aliceblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 5px;
    transition: 0.01s;
}

.image img{
    padding: 1px;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    margin: 10px;
    flex-grow: 2;
}

.slider-h2{
    font-size: 18px;
}

.content a{
    text-decoration: none;
    background: skyblue;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px;
    color: white;
    text-decoration: uppercase;
}

.content a:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.229) ;
}
/*--------*/
.portfolio{
    background-image: url(../img/F22.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10rem;
}

.portfolio h2{
    padding-top: 13rem;
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box:hover{
    box-shadow: 0 0 8px var(--main-color);
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 238, 255, 0.5),rgb(20, 36, 42));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box img{
    height: 300px;
    image-rendering: auto;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 2.6rem;
    margin: .3rem 0 1rem;
    font-family: 'Shrikhand', cursive;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact{
    background-image: url(../img/F11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

.contact h2{
   margin-bottom: 3rem; 
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
    z-index: 100;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
    z-index: 100;
}

.contact form .btn{
    margin-top: 5rem;
    cursor: pointer;
    position: relative;
}

.btn2{
    display:inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    border-radius: 4rem;
    font-size: 1.9rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: .1rem;
    transition: .5s ease;
}

.footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: #000000;
    z-index: 100;
}

.footer-text{
    font-size: 1.6rem;
}

.footer-icontop a{
    margin-left: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: 50%; 
    transition: .5s ease;
}

.footer-icontop a:hover{
    box-shadow: 0 .3rem 1rem var(--main2-color);
    transform: scale(1.1);
}

.footer-icontop a:nth-child(4):hover{
    background: var(--main2-color);
    box-shadow: 0 .3rem 1rem var(--main-color);
    transform: scale(1.1);
}

.footer-icontop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/*==breackpoints====*/

@media (max-width: 1600px){
    .services-container .services-box{
        height: 250px;
    }
    .services-container{
        gap: 2rem;
    }
    .portfolio h2{
        padding-top: 8rem;
        margin-bottom: 1rem;
    }
    
    .portfolio-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2rem;
    }
    .portfolio-box{
        height: 280px;
    }
}

@media (max-width: 1480px){
    .home-img{
        position: relative;
        padding: 2rem 0;
        left: 4rem;
        bottom: 5rem;
    }
}

@media (max-width: 1400px){
    section{
        padding: 0rem 2% 2rem;
    }
    .services-container2{
        grid-template-columns: repeat(4, 1fr);
    }
    .services-box2:nth-child(9) {
        grid-column: 3 / 2;
        grid-row: 3/2;
    }
}

@media (max-width: 1340px){
    section{
        padding: 0rem 4% 2rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content h3{
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    .btn{
        margin-bottom: 3rem;
    }
    .services-container{
        gap: 2rem;
    }
    .services-box{
        min-width: 360px;
    }
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .navbar a{
        font-size: 1.7rem;
        color: var(--text-color);
        padding: .5rem;
        margin-left: 1rem;
    }
    .about-img img{
        width: 35vw;
        position: relative;
        bottom: 10rem;
    }
    .portfolio-layer h4{
        font-size: 2.2rem;
    }
    .services-box{
        min-width: 350px;
    }
    .services-box h3 {
        font-size: 2.9rem;
    }
}

@media (max-width: 1173px){
    .services{
        padding: 0rem 5rem 0rem 5rem;
    }
    .services-container{
        grid-template-columns: repeat(2, 1fr);
       }
    .services-box{
        min-width: 450px;
    }
}

@media (max-width: 1000px){
    .services-container2{
        grid-template-columns: repeat(3, 1fr);
        padding: 0 10rem;
    }
    .services-box2:nth-child(10) {
        grid-column: 2 / 3;
    }
}

@media (max-width: 991px){
    section{
        padding: 10rem 4% 2rem;
    }
    .home-content h1{
        margin-left: 1rem;
    }
    .about-img img{
        width: 40vw;
        bottom: 10rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .services-box{
        min-width: 390px;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 880px){
    .services-container{
        grid-template-columns: 1fr;
    }
    .services-box:nth-child(4) {
        grid-column: auto;
        grid-row: auto;
    }
    .services-box{
        min-width: 510px;
    }
    .btn-services2 {
        padding: 2rem 1.3rem;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display:block ;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;  
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 50vw;
        margin-top: 2rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about img{
        width: 70vw;
        margin-top: -10rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2, 1fr) ;
    }
    .services-box p{
        height: 60px;
    }
    .services-container2{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 6rem;
    }
}

@media (max-width: 617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .services-box{
        min-width: 410px;
    }
    .btn-services2 {
        padding: 1.8rem;
    }
    .services-box p {
        font-size: 2.6rem;
        padding: 3rem;
        margin-bottom: 5rem;
    }
    .about-img img{
        bottom: 2rem;
    }
    .footer{
        flex-direction: column;
        gap: 0.7rem;
    }
}

@media (max-width: 516px){
    section{
        padding: 0 1rem;
    }
    .services{
        padding: 0rem .1% 0rem;
    }
    .services-box{
        min-width: 350px;
    }
    .services-container2{
        margin-bottom: 0rem;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
    .about-img img{
        bottom: 2rem;
    }
    .contact form{
        margin: 0;
    }
}

@media (max-width: 450px){
    html{ 
        font-size: 50%;
        padding: 0;
    }
    .contact form .input-box input{
        width: 100%;
    }
    .home-img img{
        width: 80vw;
        position: relative;
        right: 4rem;
    }
    .about-content p{
        width: 300px;
    }
    .about-img img{    
        width: 70vw; 
    }
    .services-box h3 {
        font-size: 3.8rem;
        width: 330px ;
    }
    .services-box p {
        font-size: 2.7rem;
        padding: 3rem;
        margin-bottom: 3rem;
        height: 150px;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
    }
}

@media (max-width: 365px){
    .services{
        padding: 0rem 3% 0rem;
    }
    .services-box h3 {
        width: 300px;
    }
    .btn-services2 {
        width: 300px;
    }
    .home-img img{
        width: 90vw;
    }
    .about-img img{    
        width: 70vw;
        top: 2rem;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
    }
}

